<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
</head>
<body>
	<form method="get" action="/dvds">
		Title: <input type="text" name="title">
		<select name="award">
		  <option value="oscar">Oscar</option>
		  <option value="grammy">Grammy</option>
		</select>
		<input type="submit" value="Submit"> 
	</form>	
</body>
</html>